## 2024 석사과정 김영길(2024155760)

## 7주차_숙제 LoadData(Pandas)

<h2 id="quiz">Quiz on DataFrame</h2>

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [ ]:
# Write your code below and press Shift+Enter to execute

In [2]:
import pandas as pd
df = pd.read_csv('TopSellingAlbums.csv')

q = df[['Rating']]
print(q)

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [3]:
# Write your code below and press Shift+Enter to execute

In [5]:
q = df[['Released','Artist']]
print(q)

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Access the 2nd row and the 3rd column of <code>df</code>:

In [6]:
# Write your code below and press Shift+Enter to executeb

In [7]:
df.iloc[1, 2]

1980