## 2024 석사과정 김영길(2024155760)

## 9주차 함수 고급 숙제
## p.4 ~  p. 24 까지의 코드를 모두 따라서 코딩하고 실행

## List Comprehension

In [1]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

print( number_list )

[1, 2, 3, 4, 5]

In [2]:
number_list = []
for number in range(1,6) :
    number_list.append(number)

print(number_list)

[1, 2, 3, 4, 5]

In [3]:
number_list = list(range(1,6))

print(number_list)

[1, 2, 3, 4, 5]

In [5]:
number_list = [number for number in range(1,6)]

print(number_list)

[1, 2, 3, 4, 5]

In [7]:
number_list = [number-1 for number in range(1,6)]

print(number_list)

[0, 1, 2, 3, 4]

In [9]:
a_list = [number for number in range(1,6) if number %2 == 1]

print(a_list)

[1, 3, 5]

In [11]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

# 함수 적용
[word.lower() for word in sentence ]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [12]:
# 조건 적용
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [13]:
# 함수 적용하여 튜플로 저장
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [15]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [16]:
rows = range(1,4)
cols = range(1,3)
cells = [(row,col) for rows in rows for col in cols]
for cell in cells:
    print(cell)

(3, 1)
(3, 2)
(3, 1)
(3, 2)
(3, 1)
(3, 2)

In [19]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

## Dictionary Comprehension

In [21]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

print(letter_counts)

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [22]:
word = 'letters'
letter_counts = {letter:word.count(letter) for letter in set(word)}

print(letter_counts)

{'t': 2, 's': 1, 'r': 1, 'l': 1, 'e': 2}

## Set Comprehension

In [23]:
a_set = {number for number in range(1,6) if number %3 == 1}

print(a_set)

{1, 4}

## Functions and code structure

In [27]:
def sum(a,b):
    return a+b

print( sum(1,2) )
print( sum(1.3, 2.1) )
print( sum('love ','python') )

3
3.4000000000000004
love python

## iteration - zip()

In [31]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "- eat",fruit, "- enjoy",dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [35]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

print( list(zip(english, french)) )
print( dict(zip(english, french)) )

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

## 함수 위치 인자

In [37]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

## 함수 키워드 인자

In [44]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

print( menu(entree='beef', dessert='bagel', wine='bordeaux') )

print( menu('frontenac', dessert='flan', entree='fish') )

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}
{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

## 기본 매개변수 값 정하기

In [48]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

print( menu('chardonnay', 'chicken') )
print( menu('dunkelfelder', 'duck', 'doughnut') )

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [52]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

print( menu(100) ) # 1 위치 인자
print( menu(price=100) ) # 1 키워드 인자
print( menu(price=120, entree='beef') )# 2 키워드 인자
print( menu(dessert='bagel', price=110) ) # 2 키워드 인자
print( menu('eighty', 'saint-pierre', 'fish') ) # 3 위치 인자
print( menu('hundred', wine='saint-pierre') ) # 1 위치 인자, 1 키워드 인자

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}
{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}
{'price': 'eighty', 'wine': 'saint-pierre', 'entree': 'fish', 'dessert': 'pudding'}
{'price': 'hundred', 'wine': 'saint-pierre', 'entree': 'chicken', 'dessert': 'pudding'}

## docstring

In [58]:
def echo(anything):
    'echo returns its input argument'
    return anything

def print_if_true(thing, check):
    """
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

help(echo)

print(echo.__doc__)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

echo returns its input argument

In [59]:
import math
math.sqrt(16)

4.0